<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% include 'css.html' %}
        {% include 'js.html' %}
    </head>
    <body>
        <div id="page">
            <div class="row">
                <div class="col-12">
                    <div class="row photo-row shadow-4-strong">
                        <div class="col-4 col-lg-2">
                            <img src="https://pub-5df4ad3d887c441ca0f3a637d4ac71ed.r2.dev/aw3jd-iz0nd.webp" width="100%">
                        </div>
                        <div class="col-4 col-lg-2">
                            <img src="https://pub-5df4ad3d887c441ca0f3a637d4ac71ed.r2.dev/ad9px-xxs2i.webp" width="100%">
                        </div>
                        <div class="col-4 col-lg-2">
                            <img src="https://pub-5df4ad3d887c441ca0f3a637d4ac71ed.r2.dev/a2phg-inwu2.webp" width="100%">
                        </div>
                        <div class="col-4 col-lg-2">
                            <img src="https://pub-5df4ad3d887c441ca0f3a637d4ac71ed.r2.dev/a6bub-cd11y.webp" width="100%">
                        </div>
                        <div class="col-4 col-lg-2">
                            <img src="https://pub-5df4ad3d887c441ca0f3a637d4ac71ed.r2.dev/aew5j-h8vjb.webp" width="100%">
                        </div>
                        <div class="col-4 col-lg-2">
                            <img src="https://pub-5df4ad3d887c441ca0f3a637d4ac71ed.r2.dev/auhpu-23oqu.webp" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center text-content-container">
                    <h1>Urban Aviation Group</h1>
                    <h2>Launching Futures, One Lesson at a Time</h2>
                    <hr class="hr hr-blurry mt-4 mb-4" />
                    <div>
                        <h2><b>Our Mission</b></h2>
                        <p class="mission-text">The Urban Aviation Group, LLC is dedicated to promoting diversity within the Aviation industry by providing education and support to youth in underserved communities. Our courses are thoughtfully designed to introduce students to various aspects of aviation and aerospace. Although we warmly welcome and encourage all students to participate, our program places a specific focus on fostering diversity in the aviation industry.</p>
                    </div>
                    <hr class="hr hr-blurry mt-4 mb-4" />
                    <div>
                        <h2><b>Contact Us</b></h2>
                        <h4>Aaron Allen, Owner</h4>
                        <p><a href="mailto:urbanavigrp@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i> urbanavigrp@gmail.com</a></p>
                        <p><a href="tel:9088681087"><i class="bi bi-telephone-fill"></i> (908) 868-1087</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        .mission-text {
            text-align: justify;
        }
        #page {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .photo-row div{
            padding: 0;
        }
        .text-content-container {
            padding: 30px 50px;
        }
    </style>
</html>